<footer class="footer">
  <div class="footer-inner">
    <div class="footer-main">
      <div>&copy; <span id="copyright-year">2026</span> Worth Adding. All rights reserved.</div>
      <div>
        <a href="https://worthadding.com/">Home</a>
        &nbsp;/&nbsp;
        <a href="https://worthadding.com/comparisons/">All comparisons</a>
        &nbsp;/&nbsp;
        <a href="https://worthadding.com/#recent">Latest posts</a>
      </div>
    </div>
    <div class="footer-meta" aria-label="Site information">
      <span>Site info</span>
      <span>
        <a href="https://worthadding.com/about/">About / Editorial Standards</a>
        &nbsp;/&nbsp;
        <a href="https://worthadding.com/affiliate-disclosure/">Affiliate Disclosure</a>
        &nbsp;/&nbsp;
        <a href="https://worthadding.com/privacy/">Privacy Policy</a>
        &nbsp;/&nbsp;
        <a href="https://worthadding.com/contact/">Contact</a>
      </span>
    </div>
  </div>
</footer>
